<div class="jumbotron text-center">
  <h2 class="display-6">Angular Reactive Forms with FormBuilder Api</h2>
</div>
<div class="container text-center mb-5">
  <h1 style="font-size: 35px; font-weight: bold">Register Page</h1>
</div>

<div class="container">
  <div class="row custom-wrapper">
    <div class="col-md-12">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="group-gap">
          <!-- Full Name -->
          <div formGroupName="fullName">
            <div class="mb-3">
              <label for="name">First name</label>
              <input
                formControlName="firstName"
                type="text"
                class="form-control"
              />
              <div
                *ngIf="
                  !registerForm.get('fullName.firstName').valid &&
                  registerForm.get('fullName.firstName').touched
                "
                class="help-block"
              >
                <div
                  class="invalid-feedback"
                  *ngIf="
                    registerForm.get('fullName.firstName').errors['required']
                  "
                >
                  Please enter your name
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="
                    registerForm.get('fullName.firstName').errors['minlength']
                  "
                >
                  Your name must be 3+ chracters
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="surname">Last name</label>
              <input
                formControlName="lastName"
                type="text"
                class="form-control"
              />
              <div
                *ngIf="
                  !registerForm.get('fullName.lastName').valid &&
                  registerForm.get('fullName.lastName').touched
                "
                class="help-block"
              >
                <div
                  class="invalid-feedback"
                  *ngIf="
                    registerForm.get('fullName.lastName').errors['required']
                  "
                >
                  Please enter your name.
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="
                    registerForm.get('fullName.lastName').errors['minlength']
                  "
                >
                  Your name must be 3+ chracters.
                </div>
              </div>
            </div>
          </div>

          <!-- Email -->
          <div class="mb-3">
            <label for="email"> Email </label>
            <input formControlName="email" type="email" class="form-control" />
            <div
              *ngIf="
                !registerForm.get('email').valid &&
                registerForm.get('email').touched
              "
              class="help-block"
            >
              <div
                class="invalid-feedback"
                *ngIf="registerForm.get('email').errors['required']"
              >
                Please enter your email.
              </div>
              <div
                class="invalid-feedback"
                *ngIf="registerForm.get('email').errors['email']"
              >
                Your name must be email format.
              </div>
            </div>
          </div>

          <!-- Phone number -->
          <div class="mb-3">
            <label for="phone"> Phone Number </label>
            <input
              formControlName="phoneNumber"
              type="text"
              class="form-control"
            />
            <div
              *ngIf="
                !registerForm.get('phoneNumber').valid &&
                registerForm.get('phoneNumber').touched
              "
              class="help-block"
            >
              <div
                class="invalid-feedback"
                *ngIf="registerForm.get('phoneNumber').errors['required']"
              >
                Please enter your phone number.
              </div>
              <div
                class="invalid-feedback"
                *ngIf="registerForm.get('phoneNumber').errors['maxlength']"
              >
                Phone number must be 10 digit long .
              </div>
              <div
                class="invalid-feedback"
                *ngIf="registerForm.get('phoneNumber').errors['pattern']"
              >
                Please enter valid phone number.
              </div>
            </div>
          </div>

          <!-- Address -->
          <div class="group-gap" formGroupName="address">
            <h4 class="mb-3">Address</h4>
            <!-- Street -->
            <div class="mb-3">
              <label for="street">Street</label>
              <input
                formControlName="street"
                type="text"
                class="form-control"
              />
              <!-- Validation -->
              <div
                *ngIf="
                  !registerForm.get('address.street').valid &&
                  registerForm.get('address.street').touched
                "
                class="help-block"
              >
                <div
                  class="invalid-feedback"
                  *ngIf="registerForm.get('address.street').errors['required']"
                >
                  Please enter your street.
                </div>
              </div>
            </div>
            <!-- City -->
            <div class="mb-3">
              <label for="state">City</label>
              <select formControlName="city" class="custom-select d-block">
                <option value="">Choose</option>
                <option *ngFor="let city of cities" [value]="city">
                  {{ city }}
                </option>
              </select>
              <!-- Validation -->
              <div
                *ngIf="
                  !registerForm.get('address.city').valid &&
                  registerForm.get('address.city').touched
                "
                class="help-block"
              >
                <div
                  class="invalid-feedback"
                  *ngIf="registerForm.get('address.city').errors['required']"
                >
                  Please enter your city.
                </div>
              </div>
            </div>
          </div>

          <!-- Gender -->
          <div class="group-gap">
            <h4 class="mb-3">Gender</h4>
            <div class="d-block">
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  id="male"
                  class="custom-control-input"
                  formControlName="gender"
                  name="gender"
                  value="male"
                  checked
                />
                <label for="male" class="custom-control-label">Male</label>
              </div>
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  id="female"
                  class="custom-control-input"
                  formControlName="gender"
                  name="gender"
                  value="female"
                />
                <label for="female" class="custom-control-label">Female</label>
              </div>
            </div>
          </div>

          <!-- Password -->
          <div class="group-gap" formGroupName="passwordValidation">
            <div class="mb-3">
              <label for="password">Password</label>
              <input
                formControlName="password"
                type="password"
                class="form-control"
              />
              <div
                *ngIf="
                  !registerForm.get('passwordValidation.password').valid &&
                  registerForm.get('passwordValidation.password').touched
                "
                class="help-block"
              >
                <div
                  class="invalid-feedback"
                  *ngIf="
                    registerForm.get('passwordValidation.password').errors[
                      'required'
                    ]
                  "
                >
                  Please enter your password.
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="password">Confirm Password</label>
              <input
                formControlName="confirmPassword"
                type="password"
                class="form-control"
              />
              <div
                *ngIf="
                  !registerForm.get('passwordValidation.confirmPassword')
                    .valid &&
                  registerForm.get('passwordValidation.confirmPassword').touched
                "
                class="help-block"
              >
                <div
                  class="invalid-feedback"
                  *ngIf="
                    registerForm.get('passwordValidation.confirmPassword')
                      .errors['MatchPassword']
                  "
                >
                  Password mismatch.
                </div>
              </div>
            </div>
          </div>

          <!-- Add Super Powers Dynamically -->
          <div class="group-gap" formArrayName="addDynamicElement">
            <h5 class="mb-3">Add Super Powers</h5>
            <div class="mb-3">
              <button
                type="button"
                class="btn btn-sm btn-success mb-3 btn-block"
                (click)="addSuperPower()"
              >
                Add Powers
              </button>
              <div class="subjectList">
                <li *ngFor="let item of dynamicArray.controls; let i = index">
                  <input
                    type="text"
                    class="form-control"
                    [formControlName]="i"
                  />
                </li>
              </div>
            </div>
            <button type="submit" class="btn btn-danger btn-lg btn-block">
              Create Superhero
            </button>
          </div>

          <!-- Result -->
          <div class="group-gap" *ngIf="submitted">
            {{ registerForm.value | json }}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
